# please add general patterns to your global ignore list
# see https://github.com/github/gitignore#readme
.DS_STORE
*.swp
*.rbc
*.sass-cache
/pkg
/doc/api

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
upload/
log/