<section class="row-fluid">
  <section class="span">

    <section id="errors">
        <%if @error then %>
          <div class="alert alert-error"><%=@error%></div>
        <% end %>
      </section> 
  </section>

  <section class="" id="file-contents">
  <table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th># Arquivo</th>
          <th>BubbleSort</th>
          <th>BubbleSort Enhanced</th>
          <th>SelectionSort</th>
          <th>InsertionSort</th>
          <th>HeapSort</th>
          <th>ShellSort</th>
          <th>QuickSort</th>
          <th>MergeSort</th>
        </tr>
    </thead>
    <tbody>
      <% @report.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <% value.each do |algorithm, tms| %>
           <td><%= tms %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </section>

</section>