<section class="row-fluid">
  <section class="span">

    <section id="errors">
        <%if @error then %>
          <div class="alert alert-error"><%=@error%></div>
        <% else %>
          <p class="alert alert-success">File is: <strong><%= @file_name %></strong></p>
        <% end %>
      </section> 
  </section>

  <section class="" id="file-contents">
  <table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th># Arquivo</th>
          <th>Quantity of elements</th>
          <th>BubbleSort</th>
          <th>BubbleSort Enhanced</th>
          <th>SelectionSort</th>
          <th>InsertionSort</th>
          <th>HeapSort</th>
          <th>ShellSort</th>
          <th>QuickSort</th>
          <th>MergeSort</th>
          <th>ShekerSort</th>
        </tr>
    </thead>
    <tbody>
      <% @contents.each do |line| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </section>

</section>