<section>
	<h1 style="font-family: Marcellus SC, serif; font-weight: 500; text-align: center;">Projeto e Analise de Algoritmos</h1>

	<section>

		<div class="well" style="text-align: center;">
			<p><strong>How to</strong></p>
			Faça o upload do arquivo com o nome de todos os arquivos com as amostras a serems analisadas
		</div>

	</section>

</section>
